[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
tqdm = "*"
click = "*"
requests = "*"
boto3 = "*"
pygithub = "*"
mashumaro = "*"
